<div class="bg-white rounded-xl shadow-sm border border-slate-200 h-full p-8">
  <h2 class="text-2xl font-bold mb-4 text-slate-800"> Lista de Ejercicios</h2>

  @if (exercises$ | async; as exercises) {
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
      @for (exercise of exercises; track exercise.id) {
        <div class="bg-white p-4 rounded-lg shadow-md border border-gray-200">
          <h3>Nombre: {{ exercise.name }}</h3>
          <p>Zona muscular: {{ exercise.targetMuscle }}</p>
        </div>
      } @empty {
        <p class="text-gray-500 col-span-full">No hay ejercicios registrados aún.</p>
      }
    </div>
  } @else {
    <div class="flex justify-center p-8">
      <p class="text-blue-500 font-semibold animate-pulse">Cargando datos...</p>
    </div>
  }
</div>
