<div class="bg-white rounded-xl shadow-sm border border-gray-200 min-h-full p-8">
  <h2 class="text-2xl font-bold mb-4 text-gray-900"> Lista de Entrenamientos</h2>
  @if (trainingsView$ | async; as trainings) {
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
      @for (training of trainings; track training.id) {
        <div class="flex flex-col transition-transform duration-200 hover:-translate-y-0.5 bg-white p-4 rounded-lg shadow-sm border border-gray-200">
          <div>
            <p class="text-sm font-medium text-gray-500">Descripción:
              <span class="text-base font-semibold text-gray-900 block">{{ training.description }}</span>
            </p>
          </div>
          <div>
            <p class="text-sm font-medium text-gray-500">Socio:
              <span class="text-base font-semibold text-gray-900 block">{{ training.partnerName }}</span>
            </p>
          </div>
          <div>
            <p class="text-sm font-medium text-gray-500">Ejercicios:
               <span class="text-base font-semibold text-gray-900 block">{{ training.exerciseNamesLabel }}</span>
            </p>
          </div>
          <div class="mt-auto pt-4 flex gap-2 justify-end ">
            <a class="px-4 py-2 text-sm font-medium rounded-md transition-colors duration-200 cursor-pointer flex items-center gap-1.5
                    bg-brand-500 text-white hover:bg-brand-600"
                      [routerLink]="['/trainings/edit', training.id]">
              <app-icon [icon]="icons.Pencil" [size]="16" className="block"></app-icon>
              Editar
            </a>
            <button class="px-4 py-2 text-sm font-medium rounded-md transition-colors duration-200 cursor-pointer flex items-center gap-1.5
                    bg-coral-500 text-white hover:bg-coral-600"
                    type="button" (click)="deleteTraining(training.id)">
              <app-icon [icon]="icons.Trash2" [size]="16" className="block"></app-icon>
              Borrar
            </button>
          </div>
        </div>
      } @empty {
        <p class="text-gray-500 col-span-full">No hay entrenamientos registrados aún.</p>
      }
    </div>
  } @else {
    <div class="flex justify-center p-8">
      <p class="text-gray-500 font-semibold animate-pulse">Cargando datos...</p>
    </div>
  }
</div>
