<div class="bg-white rounded-xl shadow-sm border border-slate-200 min-h-full p-8">
  <h2 class="text-2xl font-bold mb-4 text-slate-800"> Lista de Entrenamientos</h2>
  @if (trainingsView$ | async; as trainings) {
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
      @for (training of trainings; track training.id) {
        <div class="flex flex-col hover:shadow-lg transition-shadow duration-200 bg-white p-4 rounded-lg shadow-md border border-gray-200">
          <div>
            <p class="text-sm font-medium text-gray-500">Descripción:
              <span class="text-base font-semibold text-gray-900 block">{{ training.description }}</span>
            </p>
          </div>
          <div>
            <p class="text-sm font-medium text-gray-500">Socio:
              <span class="text-base font-semibold text-gray-900 block">{{ training.partnerName }}</span>
            </p>
          </div>
          <div>
            <p class="text-sm font-medium text-gray-500">Ejercicios:
              <span class="text-base font-semibold text-gray-900 block">{{ training.exerciseNames.join(', ') }}</span>
            </p>
          </div>
          <div class="mt-auto pt-4 flex gap-2 justify-end ">
            <a class="px-4 py-2 text-sm font-medium rounded-md transition-colors duration-200 cursor-pointer
                    bg-blue-50 text-blue-700 hover:bg-blue-100 hover:text-blue-800"
                      [routerLink]="['/trainings/edit', training.id]">Editar</a>
            <button class="px-4 py-2 text-sm font-medium rounded-md transition-colors duration-200 cursor-pointer
                    bg-red-50 text-red-700 hover:bg-red-100 hover:text-red-800"
                    type="button" (click)="deleteTraining(training.id)">Borrar</button>
          </div>
        </div>
      } @empty {
        <p class="text-gray-500 col-span-full">No hay entrenamientos registrados aún.</p>
      }
    </div>
  } @else {
    <div class="flex justify-center p-8">
      <p class="text-blue-500 font-semibold animate-pulse">Cargando datos...</p>
    </div>
  }
</div>

<!-- Modal para confirmar delete -->
<app-confirm-modal
  [isOpen]="isModalOpen"
  title="Eliminar Entrenamiento"
  message="¿Estás seguro de que deseas eliminar este entrenamiento? Esta acción es irreversible."
  (confirm)="executeDelete()"
  (cancel)="isModalOpen = false"
/>
